@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;800&display=swap");

:root {
  --color-bg: white;
  --color-dark: #222;
  --color-light: #aaa;
  --color-text: #ddd;
  --color-accent: #ff2200;
  --color-accent-light: #ff9180;
  --color-accent-dark: #801100;
  --color-link: lightblue;
  --height-app-bar: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-bg);
}

.app {
  text-align: center;
}

.app-bar {
  background-color: var(--color-light);
  height: var(--height-app-bar);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.app-logo {
  height: calc(0.6 * var(--height-app-bar));
  margin: auto calc(0.2 * var(--height-app-bar));
}

.app-name {
  font-size: var(--height-app-bar);
  color: var(--color-text);
}

.image-viewer {
  background-color: var(
    --color-accent-light
  ); /* TODO: just for mocking, remove */
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  /* TODO: most of these props are just for mocking, remove */
  background-color: var(--color-light);
  margin: 8px;
  width: 300px;
  height: 300px;
}

.image-nav-bar {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media screen and (max-width: 500px) {
  :root {
    --height-app-bar: 2rem;
  }
}
