@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;800&display=swap");

:root {
  --color-bg: white;
  --color-dark: #222;
  --color-light: #aaa;
  --color-text: #ddd;
  --color-accent: #ff2200;
  --color-accent-light: #ff9180;
  --color-accent-dark: #801100;
  --color-link: lightblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-bg);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--color-light);
  min-height: 5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.App-logo {
  height: 4vw;
  margin: 3vw;
}

.App-name {
  margin: 0;
  font-size: 5vw;
  color: var(--color-text);
}
