@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;800&display=swap");

* {
  box-sizing: border-box;
  --color-background: #282c34;
  --color-prime-light: #d5dade;
  --color-prime-dark: #434b21;
  --color-second-dark: #5f4824;
  --color-second-light: #999c68;
  --color-link: #61dafb;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-background)
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--color-second-light);
  min-height: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.App-logo {
  height: 5vw;
  margin: 3vw;
}

.App-name {
  margin: 0;
  font-size: 5vw;
  color: var(--color-prime-dark);
}
